body{
    box-sizing: border-box;
}
.list-item-wrapper {
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 20%;
    padding: 5px;
}
.title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #311b92;
}
.column-1 {
    text-align: center;
    font-size: 14px;
    color: #673ab7;

}
img {
    width: 20px;
}
.row-3 {
    display: flex;
    justify-content: space-around;
}
.row-1, .row-2, .row-3 {
    margin: 8px 0;
}
.row-3 {
    font-size: 14px;
    align-items: center;
    margin-bottom: 0;
}
/* .row-1 {
    display: flex;
    margin: 10px 5px;
}
.title {
    font-size: 18px;
    font-weight: 600;
    width: 75%;
}
.music-wrapper {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row-2 {
    display: flex;
    justify-content: flex-start;
    margin: 10px 5px;
}
.column-1 {
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    background: #fffde7;
}
.column-2 {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.full-screen {
    width: 25%;
    align-self: center;
}
img {
    width: 40px;
} */