.list-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 5px;
  width: 275px;
  max-height: 225px;
}
.list-item-wrapper .title {
  font-size: 14px;
  line-height: 125%;
  font-weight: 600;
  text-align: center;
  color: #bf360c;
}
.list-item-wrapper .row-2 {
  text-align: center;
  font-size: 12px;
  color: #263238;
  margin: 5px;
  padding: 5px;
  line-height: 130%;
}
.list-item-wrapper img {
  width: 20px;
}
.list-item-wrapper .row-3 {
  display: flex;
  justify-content: space-around;
  color: #ad1457;
  font-style: italic;
}

.list-item-wrapper .row-3 {
  font-size: 12px;
  align-items: center;
  margin-bottom: 0;
}
