.multi-line-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.multi-line-wrapper .multi-line {
  border: solid 1px #ddd;
  padding: 10px;
  font-size: 12px;
  outline: none;
  border-radius: 5px;
  width: 100%;
  height: 100px;
  resize: none;
  font-weight: 300;
  color: #757575;
}

.multi-line-wrapper.label {
  flex-direction: column;
}
.multi-line-wrapper img {
  width: 10px;
  height: 10px;
}
.multi-line-wrapper .field-wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
}
.multi-line-wrapper .label-container {
  align-self: center;
}
.multi-line-wrapper p.error-message {
  margin: 0;
  font-size: 10px;
  color: #b71c1c;
  padding-left: 20px;
}
