.single-line {
  border: solid 1px #ddd;
  padding: 10px;
  font-size: 14px;
  outline: none;
  border-radius: 5px;

  font-weight: 300;
  color: #757575;
}
.single-line-wrapper {
  display: flex;
  flex-direction: column;
  height: 75px;
  justify-content: space-around;
  width: 100%;
}
.single-line-wrapper.label {
  flex-direction: column;
}
.single-line-wrapper.img {
  flex-direction: row;
}
label {
  font-size: 14px;
}
.label-container {
  display: flex;
  gap: 5px;
}
span.mandatory {
  font-size: 10px;
  align-self: start;
}
