.upload_icon {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    /* width: 16px; */
    width:32px;
    height: 6px;
    border: 2px solid;
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-top: 8px
   }
   
   .upload_icon::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-left: 2px solid;
    border-top: 2px solid;
    transform: rotate(45deg);
    /* left: 2px; */
    left: 10px;
    /* bottom: 4px */
    bottom: 15px;
   }
   
   .upload_icon::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    /* height: 10px; */
    height: 20px;
    background: currentColor;
    /* left: 5px; */
    left: 13px;
    bottom: 3px
   } 